.banner{
    background-image: url(/img/bannner.webp);
    width: 1200px;
    height: 400px;
    background-repeat:no-repeat;
    border-radius: 16px;
    background-size: cover;
    margin-left: 50px;
}

.banner-title{
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    color: whitesmoke;
}
.banner-text{text-align: center;
    color: white;
padding-top: 20px;}

.btn1{
    width: 181px;
    height: 64px;
    padding: 20px 30px 20px 30px;
    border-radius: 50px;
    background: rgb(11, 229, 138);
    align-items: center;
    }
.btn2{
    width: 181px;
    height: 64px;
    padding: 20px 30px 20px 30px;
    border: 2px solid;
    border-radius: 50px;
    color: white;
    align-items: center;
    }